@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

div h3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
}

header {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    /* gap: rem;*/
    align-items: center;
    /* justify-content: center; */
}

nav.navigation{
    display: flex;
    width: 50px;
    align-items: center;
    padding: 0 19rem;
}
.logo {
    font-size: 3em;
    color: #359381;
    max-width: 100vh;
    justify-content: center;
}



nav.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    max-width: center;
    position: relative;
}

nav.navigation a:hover, nav.navigation a.active{
    background: #359381;
    color: #fff;
}

.parallax {
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    height: 600px;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    
}

.sec {
    position: absolute;
    background: #003329;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    display: flex;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}